# Python temporary files

*/__pycache__/
**/__pycache__/
**/*.bak
.DS_Store
*.xlsx
db.sqlite3



## Altium
__Previews
History
Project Logs*
Project Outputs*
Manufacturing
*.NET
*.htm
*.Harness
*.PrjPCBStructure
*.x_t
*_loc

